[user]
	name = Enrico Perera
	email = reperera@gmail.com

[diff]
	tool = bc
[difftool "bc"]
	trustExitCode = true
[core]
	editor = vim
[merge]
	tool = bc
[mergetool "bc"]
	trustExitCode = true
[include]
	path = ~/git_config/.gitaliases
