[user]
	name = Enrico Perera
	email = reperera@gmail.com

[diff]
	tool = bc
[difftool "bc"]
	trustExitCode = true
	cmd = /usr/bin/bcompare $LOCAL $REMOTE
[core]
	editor = vim
[merge]
	tool = bc
[mergetool "bc"]
	cmd = /usr/bin/bcompare "$PWD/$LOCAL" "$PWD/$REMOTE" "$PWD/BASE" "$PWD/$MERGED"
	keepBackup = false
	trustExitCode = true

[alias]
	co = checkout
	ec = config --global -e
	cob = checkout -b
	st = status
